<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/styles.css">
<h1>Maker House a Home</h1>
</head>
<body>
<% if @customer %>
  <h1>Welcome, <%= @customer.name %></h1>
<% end %>
<ul>
</br>
<% @spaces.each do |space| %>
  <p>  <%= space.name %>
    <%= space.description %>
    <%= space.price.to_f %>
    <%= space.owner_customer_id %> </p>
  <% end %>
</ul>
<% if @customer %>
  <form action="/sessions/delete" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>
</br>
</br>
<form action='/spaces/new' method='get'>
  <input type=submit value='Add a Space'/>
</form>
</br>
</br>
<form action='/bookings/new' method='get'>
  <input type=submit value='Make a Booking'/>
</form>

</body>
