<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/styles.css">
<h1>Maker House a Home</h1>
</head>
<body>
<% if @customer %>
  <h1>Welcome, <%= @customer.name %></h1>
<% end %>
<ul>
</br>
<% @spaces.each do |space| %>

<p><%= space.space_id %>. <%= space.name %> </br>
   <%= space.description %> </br>
   £<%= space.price.to_f %></p>
  <% end %>
</ul>
<% if @customer %>
  <form action="/sessions/delete" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>
</br>
<form action='/spaces/new' method='get'>
  <input type=submit value='Add a Space'/>
</form>
</br>
<form action='/bookings/new' method='get'>
  <input type=submit value='Make a Booking'/>
</form>
</br>
<form action='/mybookings' method='get'>
  <input type=submit value='View Bookings'/>
</form>

</body>
