<p>Bookings you have made:</p>

<% @trips.each do |trip| %>
  <p>  Booking ID: <%= trip.booking_id %></p>
  <p>  Customer ID: <%= trip.customer_id %></p>
  <p>  Space ID: <%= trip.space_id %></p>
  <p>  Date: <%= trip.date_of_stay %></p>
<% end %>

<p>Bookings for your properties:</>

<% @lettings.each do |letting| %>
  <p>  Booking ID: <%= letting.booking_id %></p>
  <p>  Customer ID: <%= letting.customer_id %></p>
  <p>  Space ID: <%= letting.space_id %></p>
  <p>  Date: <%= letting.date_of_stay %></p>
<% end %>